<h1>$animal.getName()</h1>
<h3>ID: $animal.getId()</h3>

#if($animal.getSightings().size() == 0)
  <p>There have been no reported sightings of $animal.getName().</p>
#else
  #foreach($sighting in $animal.getSightings())
    Location: $sighting.getLocation()
    Reported by: Ranger.find($sighting.getRangerId()).getName()
    ID: $sighting.getId()
  #end
#end
