<div class="panel panel-default">
  <!-- <div class="panel-heading">
    <h3 class="panel-title">Animal Sightings</h3>
  </div>
  <div class="panel-body">
    #foreach ($sighting in $Sightings)
        <h4>$animal.getName()</h4>
        <p>$animal.getSightings().size() Reported Sighting(s)</p>
    #end
    <a href="/animals/new"><button type="button" name="button" class="btn btn-primary">Add New Non-Endangered Animal</button></a>
  </div> -->

</div>
